@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@keyframes entrada {
    0%{
        opacity: 0%;
        border-radius: 0px;
    }
    100%{
        opacity: 100%;
        border-radius: 10px;
    }
}
body{
    background-color: rgb(27, 27, 27);
    font-family: "Pixelify Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
    color: white;
    animation: forwards 2s entrada;
    align-items: center;
    place-items: center;
    margin: 2%;
}
button{
	font-size: 20px;
	background-color: rgb(43, 43, 43);
	border-radius: 10px;
	color: white;
	cursor: pointer;
	height: 80px;
	width: 300px;
	transition: 500ms;
	box-shadow: 10px 28px 15px rgba(0, 0, 0, 0.1);
	padding: 15px 32px;
	border: none;
	font-family: "Pixelify Sans", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
    text-align: center;
    margin: 4px;
}
button:hover{
    translate: 0px -5px;
	background-color: white;
	color: black;
	border-color: rgb(0, 0, 0);
}
#slc{
    opacity: 50%;   
}
.app{
    background: none;
    color: rgb(32, 32, 32);
    transition: 500ms;
    width: 55%;
    cursor: cell;
}
.app:hover{
    background: rgb(53, 53, 53);
    color: white;
    border-radius: 20px;
}
.app-error{
    background: none;
    color: rgb(32, 32, 32);
    transition: 500ms;
    width: 55%;
    cursor: cell;
}
.app-error:hover{
    background: rgb(255, 64, 64);
    color: white;
    border-radius: 20px;
}
.Menu{
    margin-top: 40px;
}
#jda{
    background-color: white;
    height: 50vh;
    width: 50vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    overflow: auto;
}
#fjda{
    position: absolute;
    right: 0%;
    background-color: white;
    width: 50px;
    height: 20px;
    color: black;
    border: solid 2px black;
    text-align: center;
    cursor: pointer;
}
#postariframe{
    height: 40vh;
    width: 50vw;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
header{
    background-color: rgb(0, 0, 0);
    height: 50%;
    width: 35%;
    place-items: center;
    border: solid 2px;
    border-radius: 5px;
}
ul{
    display: flex;
    list-style: none;
}
.App{
    background-color: rgb(90, 90, 90);
    border-radius: 5px;
    width: 40vw;
    height: 40vh;
    margin-top: 15px;
    border-radius: 5px;
}
#AppButton{
    width: 20vw;
    text-align: center;
    height: 10vh;
}