@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
body{
    background: linear-gradient(45deg, purple, rgb(0, 124, 173), rgb(0, 255, 191));
    background-size: 300% 300%;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    display: grid;
    height: 97.9vh;
    align-items: center;
    place-items: center;
    animation: bg 10s ease infinite;
}

@keyframes bg {
    0%{
        background-position: 100% 100%;
    }
    50%{
        background-position: 0% 0%;
    }
    100%{
        background-position: 100% 100%;
    }
}
button{
	font-size: 20px;
	background-color: black;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	height: 60px;
	width: 140px;
	transition: 500ms;
    padding: 15px 32px;
	border: none;
	font-family: "Pixelify Sans", sans-serif;
	font-style: normal;
	list-style: none;
	margin: 2px;
}
button:hover{
	background-color: white;
	color: black;
	translate: -0px -5px;
}
#downloada{ opacity: 20%; }
a { text-decoration: none; }
.controlbuttons{
	display: inline;
	margin: 15px;
}
#voltar{
	position: fixed;
	left: 5%;
	top: 5%;
}